@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.d-flex {
  display: flex;
}

header {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  margin-right: 5%;
}

a:hover {
  text-decoration: underline;
}

.logo {
  margin-right: 5%;
  width: 50px;
  height: 50px;
  background: url(https://toppng.com/uploads/preview/free-icons-png-movie-icon-logo-115631952344tpobh0wuu.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
}
